<div class="px-4 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-2xl">
    <h1 class="text-base font-semibold leading-6 text-gray-900">New Area</h1>
    
    <%= render "form", area: @area %>
  </div>
</div> 